<p>tabla-paises works!</p>

<table class="table">
  <thead>
    <tr>
      <th *ngFor="let key of listadoPaises[0] | ObjKeysToArray">
        {{ key }}
      </th>
      <th *ngIf="activarDetalle">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elemento of listadoPaises">
      <td *ngFor="let key of elemento | ObjKeysToArray">
        {{ elemento[key] }}
      </td>
      <td>
        <input
          *ngIf="activarDetalle"
          type="button"
          class="btn btn-outline-success"
          value="detalle"
          (click)="seleccionarPais(elemento)"
        />
      </td>
    </tr>
  </tbody>
</table>
