<table class="table">
  <thead>
    <tr>
      <th *ngFor="let item of listadoPaises[0] | keyvalue">
        {{ item.key }}
      </th>
      <th *ngIf="activarDetalle">Accion</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elemento of listadoPaises">
      <td [ngClass]="''" *ngFor="let item of elemento | keyvalue">
        <img
          *ngIf="item.key === 'bandera'; else elseBlock"
          [ngStyle]="{ width: '32px' }"
          [src]="item.value"
          alt=""
        />
        <ng-template #elseBlock>{{ item.value }}</ng-template>
      </td>
      <td *ngIf="activarDetalle">
        <input
          type="button"
          class="btn btn-outline-success"
          value="detalle"
          (click)="seleccionarPais(elemento)"
        />
      </td>
    </tr>
  </tbody>
</table>
