<nav
  class="navbar navbar-expand-lg bg-body-tertiary bg-secondary"
  data-bs-theme="dark"
>
  <a class="navbar-brand text-light" routerLink="">El Bongio</a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link active text-light" aria-current="page" routerLink=""
        >Home</a
      >
      <a class="nav-link text-light" routerLink="busqueda">Busqueda</a>
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item dropdown">
          <a
            class="text-light nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span routerLink="peliculas">Peliculas</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="peliculas/alta">Alta</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="peliculas/listado"
                >Listado</a
              >
            </li>
          </ul>
        </li>
      </ul>
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item dropdown">
          <a
            class="text-light nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <span routerLink="actores">Actores</span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="actores/alta">Alta</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="actores/listado">Listado</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="actores/actorpelicula"
                >Actor-Pelicula</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="d-flex">
    <ul
      class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
      style="--bs-scroll-height: 100px"
    >
      <li class="nav-item dropdown">
        <a
          class="text-light nav-link dropdown-toggle"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="../../../assets/images/user_default.png"
            alt="img-usuario"
            [ngStyle]="{ width: '32px', 'border-radius': '100%' }"
          />{{ "User" }}
        </a>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item" routerLink="peliculas/alta">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
