<input
  *ngIf="config.habilitarAlternarVista"
  type="button"
  class="btn btn-outline-primary"
  value="Cambiar vista"
  (click)="cambiarVista()"
/>
<div *ngIf="alternarVista; then thenBlock; else elseBlock"></div>

<ng-template #thenBlock>
  <app-lista
    [listaDeElementos]="listaDeElementos"
    [habilitarDetalle]="config.habilitarDetalle"
    (eventEnviarElemento)="seleccionarItem($event)"
  ></app-lista
></ng-template>

<ng-template #elseBlock>
  <app-tabla
    [listaDeElementos]="listaDeElementos"
    [habilitarDetalle]="config.habilitarDetalle"
    (eventEnviarElemento)="seleccionarItem($event)"
  ></app-tabla>
</ng-template>
